.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.input-group > *:last-child {
  flex-grow: 1;
}

textarea {
  height: fit-content;
}

.card-header {
  background-color: rgba(255, 255, 255, 0.781);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.card-footer {
  border: 1px solid rgb(101, 101, 101);
  background-color: rgba(57, 57, 57, 0.781);
}

button#generate {
  color: rgb(74, 74, 74);
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(74, 74, 74);
  background-color: rgb(211, 183, 238);
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
  box-shadow: 0 10px rgb(74, 74, 74);
  transition: margin;
}

button#generate:hover {
  background-color: rgb(192, 147, 234);
}

button#generate:active {
  box-shadow: 0 3px rgb(74, 74, 74);
  margin-top: 7px;
  margin-bottom: -7px;
}

#pw-length {
  min-width: 5ch;
}
